@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: -webkit-image-set(
    "./assets/neon-bg-hd.webp" 1x,
    "./assets/neon-bg-hd.webp" 2x
  );
  background-image: image-set(
    "./assets/neon-bg-hd.webp" 1x,
    "./assets/neon-bg-hd.webp" 2x
  );
}

#root {
  margin: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  box-shadow: inset 0px 0px 4px 2px var(--c1), inset 0px -2px 10px 4px var(--c4),
    inset 0px 2px 16px 4px var(--c5), 0px 0px 8px 2px var(--c2);
}

.pinkish {
  --c1: #ffcfeb;
  --c2: #ff80d7;
  --c3: theme(colors.purple.1);
  --c4: theme(colors.purple.2);
  --c5: #5f1fb3;
}

.magentaish {
  --c1: lightpink;
  --c2: orchid;
  --c3: theme(colors.magenta);
  --c4: fuchsia;
  --c5: darkorchid;
}

.purplish {
  --c1: lightpink;
  --c2: orchid;
  --c3: theme(colors.magenta);
  --c4: #5f1fb3;
  --c5: #28015c;
}

.cyanish {
  --c1: #b8fdff;
  --c2: theme(colors.cyan);
  --c3: theme(colors.blue.2);
  --c4: theme(colors.blue.3);
  --c5: theme(colors.blue.4);
}

.cyan {
  --c1: #b8fdff;
  --c2: theme(colors.cyan);
  --c3: theme(colors.blue.2);
  --c4: theme(colors.blue.3);
  --c5: theme(colors.blue.4);
}

.static-glow {
  filter: drop-shadow(0px 0px 0.2em var(--c1))
    drop-shadow(0px 0px 0.3em var(--c1)) drop-shadow(0px 0px 0.4em var(--c2))
    drop-shadow(0px 0px 0.75em var(--c3)) drop-shadow(0px 0px 1em var(--c5));
}

.glow {
  animation: glow 4s ease-out infinite alternate;
}

@keyframes glow {
  25%,
  75% {
    filter: drop-shadow(0px 0px 0.2em var(--c1))
      drop-shadow(0px 0px 0.3em var(--c1)) drop-shadow(0px 0px 0.4em var(--c2))
      drop-shadow(0px 0px 0.75em var(--c3)) drop-shadow(0px 0px 1em var(--c5));
  }

  0%,
  60%,
  90%,
  100% {
    filter: drop-shadow(0px 0px 0.25em var(--c1))
      drop-shadow(0px 0px 0.4em var(--c1)) drop-shadow(0px 0px 0.5em var(--c2))
      drop-shadow(0px 0px 0.8em var(--c3)) drop-shadow(0px 0px 1em var(--c5));
  }
}

.text-scroll {
  animation: text-scroll 4s linear infinite;
}

@keyframes text-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
