@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    margin: auto;
  }

  @media (max-width: 690px) {
    :root {
      font-size: small;
    }
  }

  input,
  .box-shadow {
    box-shadow: inset 0px 0px 4px 2px var(--c1),
      inset 0px -2px 10px 4px var(--c4), inset 0px 2px 16px 4px var(--c5),
      0px 0px 8px 2px var(--c2);
  }

  @supports not selector(::-webkit-scrollbar) {
    :root,
    .scroller {
      scrollbar-color: theme(colors.magenta) black;
    }
  }

  :root::-webkit-scrollbar,
  .scroller::-webkit-scrollbar {
    width: 12px;
    background-color: black;
  }

  :root::-webkit-scrollbar-thumb,
  .scroller::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: theme(colors.magenta);
  }
}

@layer components {
  body {
    min-height: 100vh;
    width: 100%;
    &::before {
      content: " ";
      position: fixed;
      width: 100%;
      height: 100%;
      background-size: cover;
      will-change: transform;
      z-index: -20;
      background-image: -webkit-image-set(
        "./assets/neon-bg-hd.webp" 1x,
        "./assets/neon-bg-hd.webp" 2x
      );
      background-image: image-set(
        "./assets/neon-bg-hd.webp" 1x,
        "./assets/neon-bg-hd.webp" 2x
      );
    }
  }

  .grid {
    min-width: 100%;
    grid-template-columns: 6rem repeat(5, 5.5rem);
  }

  .day:hover {
    filter: brightness(130%);
    & .opacity-60 {
      opacity: 0.9;
    }
  }

  .pinkish {
    --c1: #ffcfeb;
    --c2: #ff80d7;
    --c3: theme(colors.purple.1);
    --c4: theme(colors.purple.2);
    --c5: #5f1fb3;
  }

  .magentaish {
    --c1: lightpink;
    --c2: orchid;
    --c3: theme(colors.magenta);
    --c4: fuchsia;
    --c5: darkorchid;
  }

  .purplish {
    --c1: lightpink;
    --c2: orchid;
    --c3: theme(colors.magenta);
    --c4: #5f1fb3;
    --c5: #28015c;
  }

  .cyanish {
    --c1: #b8fdff;
    --c2: theme(colors.cyan);
    --c3: theme(colors.blue.2);
    --c4: theme(colors.blue.3);
    --c5: theme(colors.blue.4);
  }

  .cyan {
    --c1: #b8fdff;
    --c2: theme(colors.cyan);
    --c3: theme(colors.blue.2);
    --c4: theme(colors.blue.3);
    --c5: theme(colors.blue.4);
  }

  .glow {
    filter: drop-shadow(0px 0px 0.2em var(--c1))
      drop-shadow(0px 0px 0.3em var(--c1)) drop-shadow(0px 0px 0.4em var(--c2))
      drop-shadow(0px 0px 0.75em var(--c3)) drop-shadow(0px 0px 1em var(--c5));
  }

  .pulse-glow {
    animation: pulse-glow 4s ease-out infinite alternate;
  }

  @keyframes pulse-glow {
    25%,
    75% {
      filter: drop-shadow(0px 0px 0.2em var(--c1))
        drop-shadow(0px 0px 0.3em var(--c1))
        drop-shadow(0px 0px 0.4em var(--c2))
        drop-shadow(0px 0px 0.75em var(--c3)) drop-shadow(0px 0px 1em var(--c5));
    }

    0%,
    60%,
    90%,
    100% {
      filter: drop-shadow(0px 0px 0.25em var(--c1))
        drop-shadow(0px 0px 0.4em var(--c1))
        drop-shadow(0px 0px 0.6em var(--c2))
        drop-shadow(0px 0px 0.9em var(--c3))
        drop-shadow(0px 0px 1.2em var(--c5));
    }
  }

  .text-scroll {
    animation: text-scroll 4s linear infinite;
  }

  @keyframes text-scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .drop {
    position: absolute;
    will-change: transform;
    width: 1.5px;
    height: 3.5rem;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    );
    animation: rain-fall 1.25s linear infinite;
  }

  @keyframes rain-fall {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(100vh);
      opacity: 1;
    }
  }
}
